
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="/home/login" method="post">登录名：<input id="Text1" name="name" type="text" />
密码：<input id="Password1" name="password" type="password" />
<input id="Submit1" type="submit" value="登录" /></form>
