
@{
    ViewBag.Title = "SendMail";
}

<form action="/home/sendmail" method="post">
    <h2>SendMail</h2>
    <input id="Text1" name="str" type="text" />
    <input id="Submit1" type="submit" value="发送邮件" />
</form>